  <img src="../../assets/bg-masthead.jpg" style=" margin-top: -260px; margin-left: -220px; position:fixed;">
  <div class="container">
    <div *ngIf="!registerMode" class="centered">
        <h1>Get in contact with your team!</h1>
        <p class="lead">Sign up to be part of our community</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-outline-success btn-lg">Register</button>
            
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>
