.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}
.navbar a {
    font-size: 17px;
}
.img-p {
    max-height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: inline;
}
      
      
    

